.side-menu{
    // position: absolute;
    // left: 0rem;
    width:0px;
    transition: width 0.3s;
    height: calc(100vh - 4rem);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-top: 1px solid white;
    position: fixed;
    overflow-x: hidden;
    color: white;
  
    left: 0; /* Start with the sidebar expanded */
    z-index: 1;
    background-color: #333;
    transition: left 0.3s;
    // overflow-x: hidden;
    // white-space: nowrap;
    // transition: width 250ms ease-in;
    .nav-list{
        color: white;
        list-style: none;
        padding: 0 ;
    }
    .nav-list li.active{
        background-color: rgba(248, 241, 241, 0.3);
    }
    .nav-list-item{
        font-size: 20px;
        width: 100%;
        // margin-left: -1em;
        text-align: center;
    }
    
      
      .collapsed {
        width: 60px;
      }
}
    