<div *ngIf="formData">

    <ng-container >
        <h3>Question {{r+1}}</h3>
        <p>{{formData[r].question}}</p>
        <div class="options">
            <ol>
                <div class="card">
                    <li *ngFor="let option of formData[r].options; let optionIndex = index "     >
                        <input type="{{ formData[r].multipleAnswers ? 'checkbox' : 'radio' }}" type="checkbox "
                        name="options" value={{option.text}}  (change)="selectOption(r, option.text)"
                        > 
                        
                        {{ option.text }}
                    </li>
                </div>
            </ol>
        </div>

        <button class="btn btn-primary" [disabled]="r===0" (click)="previousQuestion(r)">Previous</button>
        <button *ngIf="r===(formData.length-1)" (click)="submitAnswer(selectedOptions)" class="btn">Submit</button>
        <button class="btn btn-primary" [disabled]="r===(formData.length-1)" (click)="nextq(r)">Next</button>
       

    </ng-container>
   
    <p>{{ resultMessage }}</p>
</div>