<div *ngIf="formData">

    <ng-container >
        <h3>Question </h3>
        <p>{{formData[r].question}}</p>
        <div class="options">
            <ol>
                <div class="card">
                    <li *ngFor="let option of formData[r].options; let optionIndex = index">
                        <input type="{{ formData[r].multipleAnswers ? 'checkbox' : 'radio' }}" type="checkbox"
                        name="options" value={{option.text}}  [checked]="isChecked(option,optionIndex)"> 
                        
                        {{ option.text }}
                    </li>
                </div>
            </ol>
        </div>

        <button [disabled]="r===0" (click)="previousQuestion(r)">Previous</button>
        <button [disabled]="r===(formData.length-1)" (click)="nextq(r)">Next</button>
       

    </ng-container>
    <button *ngIf="r===(formData.length-1)" (click)="submitAnswer()">Submit</button>
    <p>{{ resultMessage }}</p>
</div>