<div *ngIf="formData">

    <ng-container *ngFor="let entry of formData; let questionIndex = index;">
        <h3>Question {{ currentQuestionIndex + 1 }}:</h3>
        <p>{{entry.question}}</p>
        <div class="options">
            <ol>
                <div appChangeBg class="card">
                    <li *ngFor="let option of entry.options; let optionIndex = index">
                        <input type="{{ entry.multipleAnswers ? 'checkbox' : 'radio' }}" type="checkbox"
                            name="options-{{ questionIndex }}" [value]="optionIndex"
                           
                            (change)="selectOption(questionIndex, option.text)">
                        {{ option.text }}
                    </li>
                </div>
            </ol>
        </div>

        <button>Previous</button>
        <button>Next</button>
        <!-- <button (click)="previousQuestion()" *ngIf="currentQuestionIndex">Previous</button>
        <button>Next</button> -->
        <!-- <button *ngIf="currentQuestionIndex > 0" (click)="previousQuestion()">Previous</button>
        <button *ngIf="currentQuestionIndex < question.length - 1" (click)="nextQuestion()">Next</button>
        -->

    </ng-container>
    <button (click)="submitAnswer()">Submit</button>
    <p>{{ resultMessage }}</p>
</div>