

.content{
    display: flex;
    flex-direction: row;

   

    .app-container{
        // position: absolute;
        width: 100%;
       
        transition: margin-left 0.5s;
        // transition: left 250ms ease-in; width: 250ms ease-in;
    }

}