<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid" >

			<button class="side-nav-button p-2 me-3 text-success" (click)="closeSidebar()">Open Sidebar
			
			</button>
			
			<a class="navbar-brand" href="#">Logo</a>
		
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 dropdown">
					<!-- <button class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" onLanguageChange="($event)" >Language
						<ul class="dropdown-menu dropdown-menu-dark">
							
							<li><a href="#" class="dropdown-item" onLanguageChange="($event)" value="en">EN</a></li>
							<li><a href="#" class="dropdown-item" onLanguageChange="($event)" value="hi">HINDI</a></li>
						</ul>
					</button> -->
					<nav class="navbar navbar-dark navbar-expand-lg">
						<span class="spacer"></span>
						<div class="form-group">
						  <label for="languageSelect">
							<i class="fa fa-globe" aria-hidden="true"></i>
							Language:
						  </label>
						  <select id="languageSelect" class="form-control" [(ngModel)]="selectedLanguage">
							<option *ngFor="let language of languageList" [value]="language.code">{{ language.label }}</option>
						  </select>
						</div>
					  </nav>
					  
					<!-- <div>
						<h1>{{ translatedText }}</h1>
						<input [(ngModel)]="textToTranslate" placeholder="Enter text to translate" />
						<button (click)="translateText()">Translate</button>
						<div *ngIf="translatedText">
						  <h2>Translation:</h2>
						  <p>{{ translatedText }}</p>
						</div>
					  </div> -->
				</ul>
				<div class="profile-logo dropstart">
					<button class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"><img [src] ="(imgPath + imgFileName)" class="rounded-circle float-start"  alt="" width="40" height="30"></button>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a href="#" class="dropdown-item">Sign Up</a></li>
						<li><a href="#" class="dropdown-item">Log In</a></li>
						<li><a href="#" class="dropdown-item">Your Profile</a></li>
						<li type="submit" (click)="logOut()"><a href="#" class="dropdown-item">Log Out</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</nav>
	
</header>